# python
__pycache__/
*.pyc
*.egg-info

# pytest
.pytest_cache/

# pytest coverage
.coverage
.coverage.*
.coverage.xml
htmlcov/

# tox
.tox/

# sphinx docs
docs/_build

# vsCode
.vscode/

# pyCharm
.idea/

# macOS
.DS_Store
