# python
__pycache__/
*.pyc

# builds
*.egg-info/
.eggs/
wheels/
build/
sdist/
dist/
lib/

# pytest
.pytest_cache/

# pytest coverage
.coverage
.coverage.*
.coverage.xml
htmlcov/

# tox
.tox/

# sphinx docs
docs/_build

# vsCode
.vscode/

# pyCharm
.idea/

# macOS
.DS_Store

# logs
gwoutput

#dotnet
obj/
bin/
