setuptools>=38.6.0
wheel>=0.31.0
twine>=1.11.0

doc8
flake8
pytest
pytest-cov
pytest-timeout

Sphinx>=3.0.0
recommonmark
sphinx-rtd-theme
sphinx-click
sphinx-tabs
sphinx-notfound-page
sphinxcontrib-programoutput
