setuptools>=38.6.0
wheel>=0.31.0
twine>=1.11.0

furo
sphinx
sphinx-click
sphinx_inline_tabs
sphinx-notfound-page
sphinx-autobuild
sphinx-copybutton
sphinxcontrib-programoutput

doc8
flake8
pytest
pytest-cov
pytest-timeout
